{% extends "base.html" %}
{% block content %}
    <div class="container">

      {% include "paginator.html" %}

      {% for book_row in books %}
        <div class="row">
          {% for book in book_row %}
            <div class="col">
              <div class="card mb-3" style="max-width: 540px;">
                <div class="row no-gutters">
                  <div class="col-md-4">
                    <img src="../{{media_folder}}/images/{{ book.img_filename }}" class="card-img" alt="{{ book.title }}" style="width: 140px">
                  </div>
                  <div class="col-md-8">
                    <div class="card-body">
                      <h5 class="card-title">{{ book.title }}</h5>
                      <p class="card-text">{{ book.author }}</p>
                      <p class="card-text">
                        {% for genre in book.genres %}
                          <span class="badge badge-light">{{ genre }}</span>
                        {% endfor %}
                      </p>
                      <p class="card-text">
                        <a href="../{{media_folder}}/books/{{ book.book_filename | urlencode }}" class="btn btn-light btn-lg active" role="button" aria-pressed="true" target="_blank" rel="noopener noreferrer">
                          Читать
                        </a>
                      </p>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          {% endfor %}
          <div class="w-100"></div>
        </div>
      {% endfor %}
    </div>
{% endblock %}